:root {
  --beige: #fbefd1;
  --green: #c7e2bf;
  --darkgreen: #62a47c;
}

body {
  margin: 0px;
  width: 390px;
  background-color: var(--beige);
}

div {
  display: flex;
  flex-direction: column;
}

.aboutUsImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#header {
  padding: 30px;
  cursor: pointer;
}

#footer {
  flex-direction: row;
  flex-wrap: wrap;
}
#footer > div {
  margin: 15px;
  align-items: center;
}

#countryButtons {
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutUsImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.cityBox {
  background-color: #c7e2bf8a;
  border: black solid 2px;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.cityBox > img {
  height: 50%;
  width: 50%;
}

.cityBox > h3,
.cityBox > p {
  pointer-events: none;
}

button {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--green);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #8ca684;
}

#hamburger {
  background-color: var(--green);
}

button {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--green);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button-active {
  background-color: var(--darkgreen);
  inset: 1px;
  box-shadow: inset 0 0 10px #2e3b2f;
}
