div {
    display: flex;
    flex-direction: column;
}
  
.aboutUsImage {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

#footer > div {
    margin: 15px;
    align-items: center;
}