:root {
    --beige: #fbefd1;
    --green: #c7e2bf;
    --darkgreen: #62a47c;
  }

#programmeOverlay.programmeOverlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: var(--beige); /* Black fallback color */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  #programmeOverlay > #addAdlibris {
    position: relative;
  }

  #programmeOverlay > #addStorytel {
    position: relative;
    top: 600px;
  }
 