:root {
  --beige: #fbefd1;
  --green: #c7e2bf;
  --darkgreen: #62a47c;
}

body {
  margin: 0px;
  width: 390px;
  background-color: var(--beige);
}

div {
  display: flex;
  flex-direction: column;
}

#studentOne,
#studentTwo,
#studentThree {
  flex-direction: row;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: black solid 2px;
}

#studentOne img {
  height: 100%;
  width: 100%;
}

#studentTwo img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

#studentThree img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.aboutUsImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#header{
  padding: 30px;
}

#footer{
  flex-direction: row;
  flex-wrap: wrap;
}
#footer > div {
  margin: 15px;
  align-items: center;
}

button {
  background-color: #c7e2bf;
  border-radius: 20px;
  transition: 1s;
  font-family: Monospace;
}

button:active {
  transition: 1s;
  box-shadow: black;

}

#hamburger > #hamburgerMenu {
  display: flex;
  justify-content: flex-end;
  background-color: var(--green);
}

#hamburgerMenu{
  padding-right: 10px;
}
