:root{
    --beige: #FBEFD1;
    --green: #C7E2BF;
    --darkgreen: #62A47C;
}

body{
    margin: 0px;
    width: 390px;
    background-color: var(--beige);
}

div {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

#studentOne, #studentTwo, #studentThree {
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#studentOne img {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#studentTwo img {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#studentThree img {
    height: 100%;
    width: 100%;
    padding: 10px;
}
.aboutUsImage {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}