:root {
  --beige: #fbefd1;
  --green: #c7e2bf;
  --darkgreen: #79ab8d;
  --fontStile: 'proxima-nova', sans-serif;
  --fontSizeText: 16px;
  --fontSizeTitle: 20px;
}

#cityOverlay.cityOverlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--beige); /* Black fallback color */
  background-color: var(--beige); /* Black w/opacity */
  overflow-x: scroll;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#programmeOverlay.programmeOverlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--beige); /* Black fallback color */
  background-color: var(--beige); /* Black w/opacity */
  overflow-x: scroll; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#reviewCity {
  padding-top: 30px;
}

#closeButton {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--darkgreen);
}

.programmesBox {
  display: flex;
  border: var(--darkgreen) solid 0.2px;
  margin: 10px 20px 10px 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #c7e2bf65;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h3 {
  padding: 0px 20px;
  margin: 0px;
  margin-top: 10px;
}

h2 {
  padding: 70px 0px 0px 20px;
}

p {
  padding: 0px 20px 0px 20px;
}

#cityOverlay.cityOverlay > img {
  width: 50vw;
  height: 50vh;
  padding: 20px;
  margin: auto;
}

.aboutProgramme {
  background-color: var(--green);
  border-radius: 20px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.reviewProgramme {
  background-color: var(--green);
  border-radius: 20px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#fieldButtonsOverlay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
