:root {
  --beige: #fbefd1;
  --green: #c7e2bf;
  --darkgreen: #79ab8d;
  --fontStile: 'proxima-nova', sans-serif;
  --fontSizeText: 16px;
  --fontSizeTitle: 20px;
}

body {
  margin: 0px;
  background-color: var(--beige);
  font-family: var(--fontStile);
}

h3 {
  font-size: var(--fontSizeTitle);
}

p {
  font-size: var(--fontSizeText);
}
button {
  font-size: var(--fontSizeText);
}

#countryButtons {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#cities {
  display: flex;
}

.cityBox {
  display: flex;
  background-color: #c7e2bf8a;
  border: var(--darkgreen) solid 0.2px;
  margin: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.cityBox > img {
  height: 70%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.cityBox > h3,
.cityBox > p {
  pointer-events: none;
}

#addStorytel {
  width: 100%;
  position: relative;
}

#countryButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  padding: 10px;
}

.aboutCity {
  background-color: var(--green);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.reviewCity {
  background-color: var(--green);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.aboutCity > img {
  width: 75%;
  margin: auto;
}
