:root {
  --beige: #fbefd1;
  --green: #c7e2bf;
  --darkgreen: #62a47c;
  --greenOpacity: #c7e2bfb3;
  --fontStile: 'proxima-nova', sans-serif;
  --fontSizeText: 16px;
  --fontSizeTitle: 20px;
}

body {
  margin: 0px;
  background-color: var(--beige);
  font-size: var(--fontSizeText);
  font-family: var(--fontStile);
}

h3 {
  font-size: var(--fontSizeTitle);
}

p {
  font-size: var(--fontSizeText);
}

h4 {
  margin-bottom: 0px;
  margin-top: 10px;
}

#studentOne,
#studentTwo,
#studentThree {
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--greenOpacity);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#studentOne img {
  height: 70%;
  width: 70%;
  padding: 5px;
}

#studentTwo img {
  height: 70%;
  width: 70%;
  padding: 5px;
}

#studentThree img {
  height: 70%;
  width: 70%;
  padding: 5px;
}

.aboutUsImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#header {
  padding: 30px;
  cursor: pointer;
}
#addStorytel > img {
  width: 100%;
}

button {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--green);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: var(--fontSizeText);
}

button:active {
  transition: 1s;
  box-shadow: black;
}

#hamburger {
  background-color: var(--green);
}

#navigationButtons {
  padding: 10px;
}
#earlierStudents {
  padding: 10px;
}
